name: Rust

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build default
        run: cargo build

      - name: Build no-default
        run: cargo build --no-default-features

      - name: Build lib with native-tls
        run: cargo build --no-default-features --features lib-core,native-tls && cargo tree --no-default-features --features lib-core,native-tls | grep -q rustls && {exit 1} || echo "success"

      - name: Build lib with rustls
        run: cargo build --no-default-features --features lib-core,rustls && cargo tree --no-default-features --features lib-core,rustls | grep -q native-tls && {exit 1} || echo "success"

      - name: Build lib with all features
        run: cargo build --all-features

      - name: Run test for lib + all optionals features
        run: cargo test --all-features

      - name: Run format check
        run: cargo fmt --check
